<app-navbar></app-navbar>
<div class="col-inicio-02">
    <div class="col-quienesSomos">
        <div class="quienesSomos" style="color:white">
                    <!--class="img-fluid rounded-circle z-depth-0 perfil"-->
            <h1>¿Quienes somos?</h1>
            <hr>
            <p>Somos un grupo de estudiantes universitarios de la universidad Europea de Madrid, </p>
            <p>estudiando el grado de Ingeniería Informatica, y en la cual realizando un proyecto</p>
            <p>par la asignatura de "Proyecto de Computacion II  y III cuyo enfoque esta en la </p>
            <p>españa vaciada y la manera de solucionar su problemática</p>
            
            
        </div>
    </div>
</div>
<div class="col-inicio-03">
    <div class="col-descripcion">
        <div class="descripcionProblema">
            <h1>Nuestro objetivo.</h1>
            <hr>
            <p>Nuestro objetivo es aportar mayor visibilidad a zonas de nuestro pais que sufren despoblacion</p>
            <p>y por ello que enfoque la problematica de la España vaciada, y como asi poder subsanar este</p>
            <p>problema mediante dandole facilidad de informacion asi como de accesibilidad a las personas que</p>
            <p>tienen interes en estos lugares de nuestro Pais, asi como fomentar el interes del turismo</p>
            <p>en visitar estas zonas faltas de gente, tambien por otra parte fomentar el deseo de residencia</p>
            <p>permantente en estos lugares, esto lo realizamos mediante la posibilidad de un buscador de viviendas</p>
            <p>en estas zonas asi como informacion de interes de las mismas, como hospitales, colegios, etc...</p>
        </div>
    </div>
</div><div class="col-inicio-04">
    <div class="col-desarrolladores">
        <h1>Desarrolladores</h1>
        <div class="desarrolladores">
            <div class="sebas">
                <h1>Sebas</h1>
                <hr>
                <p>Estudiante de Ingenieria Informatica -- Uem</p>
                <a href="https://www.instagram.com/sebastian97fit/">Instagram: Sebastian Quinayas</a>
                <h6>Correo electronico: <small>sebastianquemasda@gmail.com</small></h6>
            </div>
            <div class="carlos">
                <h1>Carlos</h1>
                <hr>
                <p>Estudiante de Ingenieria Informatica -- Uem</p>
                <a href="https://www.instagram.com/">Instagram: Carlos Vega</a>
                <h6>Correo electronico: <small>carlosvegon@gmail.com</small></h6>
            </div>
            <div class="pedro">
                 <h1>Pedro</h1>
                <hr>
                <p>Estudiante de Ingenieria Informatica -- Uem</p>
                <a href="https://www.instagram.com/">Instagram: Pedro Castillo</a>
                <h6>Correo electronico: <small>pcastillo@gmail.com</small></h6>
            </div>
            <div class="javi">
                <h1>Javi</h1>
                <hr>
                <p>Estudiante de Ingenieria Informatica -- Uem</p>
                <a href="https://www.instagram.com/jaawii22/">Instagram: Javier Perez</a>
                <h6>Correo electronico: <small>javieerperez@hotmail.com</small></h6>
            </div>
        </div>
    </div>
</div>
