<app-navbar></app-navbar>
<div class="principal">
    <div class="tittle">
        <h1>Información de los hospitales</h1>
    </div>
    <div class="info col-lg-6 col-md-6 col-sm-10">
        <label>Nombre del hospital:</label>
        <hr>
        <label>Número de teléfono:</label>
        <hr>
        <label>Provincia:</label>
        <hr>
        <label>Correo electrónico:</label>
        <hr>
        <label>Tipo de hospital:</label>
    </div>
    <div class="mapa col-lg-10 col-md-10 col-sm-11">
        <app-map></app-map>
    </div>

</div>
