<app-navbar></app-navbar>

<div class="col-lg-12 control-section">
    <div class="content-wrapper" style="margin-bottom: 25px;">
        <div class="formtitle">
            <span>Panel de usuario</span>
        </div>

        <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal col-6 center" novalidate="">
            <div id="form-img" class="form-group">
                <img class="img-fluid rounded-circle z-depth-0 perfil" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg">
            </div>

            <div id="form-img" class="form-group">
                <button
                id="validateSubmit"
                class="e-btn e-outline"
                type="submit"
                style="height:40px;width: 210px;"
                data-ripple="true"
                (click)='cambiarImagenPerfil($event)'
              >
                Cambiar imagen de perfil
              </button>
            </div>
            

            <div class="form-group">
                <div class="e-float-input">
                    <input id="email_check" type="text" formControlName="email_check">
                    <span class="e-float-line"></span>
                    <label for="email_check" class="e-float-text">Email</label>
                </div>
                <div *ngIf="email_check!.errors ">
                    <div *ngIf="email_check!.errors.email && email_check!.touched" class="e-error">
                        Por favor introduzca un correo valido.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="check" type="text" formControlName="check">
                    <span class="e-float-line"></span>
                    <label for="check" class="e-float-text">Nombre</label>
                </div>
                <div *ngIf="check!.errors">
                    <div *ngIf="check!.errors.required && check!.touched" class="e-error">
                        Este campo es obligatorio.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="apellidos" type="text" formControlName="apellidos">
                    <span class="e-float-line"></span>
                    <label for="apellidos" class="e-float-text">Apellidos</label>
                </div>
                <div *ngIf="apellidos!.errors">
                    <div *ngIf="apellidos!.errors.required && apellidos!.touched" class="e-error">
                        Este campo es obligatorio.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                  <input [(ngModel)]="usuario.contrasena" id="password" type="password" formControlName="password" />
                  <span class="e-float-line"></span>
                  <label for="password" class="e-float-text">Contraseña</label>
                  <div *ngIf="password!.errors">
                    <div *ngIf="password!.errors.required && password!.touched" class="e-error">
                      Debe rellenar este campo.
                    </div>
                  </div>
                </div>
            </div>
        
            <div class="form-group">
                <div class="e-float-input">
                    <input
                        id="password_repeat"
                        type="password"
                        formControlName="password_repeat"
                    />
                    <span class="e-float-line"></span>
                    <label for="password_repeat" class="e-float-text">Repita la contraseña</label>
                    <div *ngIf="password_repeat!.errors">
                        <div *ngIf="password_repeat!.errors.required && password_repeat!.touched" class="e-error">
                            Debe rellenar este campo.
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <div class="e-float-input">
                  
                  <span class="e-float-line"></span>
                  <label for="municipios" class="e-float-text">Municipio</label>
                </div>
                <ejs-combobox #municipio id='municipios' [dataSource]='municipios' [autofill]='true' [fields]='localFields' [placeholder]='localWaterMark' [popupHeight]='height'></ejs-combobox>
                
            </div>

            <div class="row btn-guardar-cambios">
                <div style="width: 320px;margin:0px auto;height: 100px;padding-top: 25px;">
                    <div style="display: inline-block;">
                        <button id="validateSubmit" (click)="guardarCambios()" class="samplebtn e-control e-btn e-primary" type="submit" style="height:40px;width: 150px;" data-ripple="true">Guardar cambios</button>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>