<app-navbar></app-navbar>
<div class="principal">
    <div class="raw-inicio-01">
        <div class="col-inicioBotones">
            <div class="col">
                <h1>Turismo</h1>
                <hr>
                <p>Te gustaria descubrir nuevos rincones de la españa vaciada?</p>
                <button>Leer mas...</button>
            </div>
            <div class="col2">
                <h1>Vivir</h1>
                <hr>
                <p>Descubre zonas increibles en espacios tranquilos para vivir tranquilo.</p>
                <button>Leer mas...</button>
            </div>
        </div>
    </div>

    <div class="col-inicio-02">
        <div class="col-quienesSomos">
            <div class="quienesSomos" style="color:white">
                    <!--class="img-fluid rounded-circle z-depth-0 perfil"-->
                <h1>¿Quienes somos?</h1>
                <hr>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                <p>Somos un grupo de estudiantes universitarios...</p>
                
            </div>
        </div>
    </div>
    <div class="col-inicio-03">
        <div class="col-descripcion">
            <div class="descripcionProblema">
                <h1>Nuestro aprote para la españa vaciada.</h1>
                <hr>
                <p>espesificamos el problema y como lo solucionamos...</p>
            </div>
        </div>
    </div>
    <div class="col-inicio-04">
        <div class="col-desarrolladores">
            <h1>Desarrolladores</h1>
            <div class="desarrolladores">
                <div class="sebas">
                    <h1>Sebas</h1>
                    <hr>
                    <p>aqui va nuestra descripcion para contactarnos...</p>
                </div>
                <div class="carlos">
                    <h1>Carlos</h1>
                    <hr>
                    <p>aqui va nuestra descripcion para contactarnos...</p>
                </div>
                <div class="pedro">
                    <h1>Pedro</h1>
                    <hr>
                    <p>aqui va nuestra descripcion para contactarnos...</p>
                </div>
                <div class="javi">
                    <h1>Javi</h1>
                    <hr>
                    <p>aqui va nuestra descripcion para contactarnos...</p>
                    <a href="https://www.instagram.com/jaawii22/">Instagram: Javier Perez</a>
                    <h6>Correo electronico: <small>javieerperez@hotmail.com</small></h6>

                </div>
            </div>
        </div>
    </div>
</div>