<app-navbar></app-navbar>
<div class="container">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="raw-inicio-01">
            <div class="col-inicioBotones">
                <div class="col">
                    <h1>Turismo</h1>
                    <hr>
                    <p>¿Te gustaria descubrir nuevos rincones de la españa vaciada?</p>
                    <button ejs-button class='dlgbtn e-btn e-primary blue' #confirmButton (click)="redirect('turismo')">Iniciar búsqueda</button>
                </div>
                <div class="col2">
                    <h1>Vivir</h1>
                    <hr>
                    <p>Descubre zonas increibles en espacios tranquilos para poder vivir.</p>
                    <button ejs-button class='dlgbtn e-btn e-primary blue' #confirmButton (click)="redirect('vivir')">Iniciar búsqueda</button>
                    <button ejs-button class='dlgbtn e-btn e-primary blue' #confirmButton (click)="redirect('componenteJavi')">PRACTICA - CHCK 1</button>

                </div>
                <ejs-dialog #confirmDialog [buttons]='confirmDlgButtons' [visible]='hidden' [header]='confirmHeader' [animationSettings]='animationSettings' [showCloseIcon]='confirmCloseIcon' [target]='target'
                    [width]='confirmWidth'>
                    <ng-template #content>
                        <span>¿Desea iniciar sesión?</span>
                    </ng-template>
                </ejs-dialog>
            </div>
        </div>


        <div class="col-inicio-02">
            <div class="col-quienesSomos">
                <div class="quienesSomos">
                    <h1>VIDA - Visualizacion e Interpretacion de Datos Analizados</h1>
                    <hr>
                    <p>Universidad Europea de Madrid - Ingeniería Informática</p>
                </div>
            </div>
        </div>
    </div>
</div>