* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html, body {
  
  background: white;
  margin: 20px;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

button:focus{ 
  outline: none;
}

.col-inicioBotones{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.col{
  background:#ffffff;
  border:solid 1px #ccc;
  border-radius:15px;
  box-shadow: 0px 20px 15px -15px #818181;

  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #d7e0e9;
  text-align: center;
  float: left;
  flex-grow: 1;
  width: 45%;
}
.col2{
  background:#ffffff;
  border:solid 1px #ccc;
  border-radius:15px;
  box-shadow: 0px 20px 15px -15px #818181;

  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #d7e0e9;
  text-align: center;
  float: right;
  flex-grow: 1;
  width: 45%;
}

.col-inicio-02{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.col-inicio-03{
  max-width: 1;
  background-image: url('https://pixabay.com/get/g7cdb4c2d8d5d82da1f23eaffce72f4dfa08b993d8b6653a92ac22fdee595187d5f71c0eed36893920f167e8aa98fc585c12d13511990ddff991e57b46d1f57b3_1920.jpg');
  background-size: 100%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 25cm;
}

.col-inicio-04{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.sebas{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

  background:#ffffff;
  border:solid 1px #ccc;
  border-radius:15px;
  box-shadow: 0px 20px 15px -15px #818181;
  height:8cm;
  width:15cm;
}
.carlos{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

  background:#ffffff;
  border:solid 1px #ccc;
  border-radius:15px;
  box-shadow: 0px 20px 15px -15px #818181;
  height:8cm;
  width:15cm;
}
.pedro{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

  background:#ffffff;
  border:solid 1px #ccc;
  border-radius:15px;
  box-shadow: 0px 20px 15px -15px #818181;
  height:8cm;
  width:15cm;
}
.javi{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

  background:#ffffff;
  border:solid 1px #ccc;
  border-radius:15px;
  box-shadow: 0px 20px 15px -15px #818181;
  height:8cm;
  width:15cm;
}
