<app-navbar></app-navbar>
<div class="raw-inicio-01">
    <div class="col-inicioBotones">
        <div class="col">
            <h1>Turismo</h1>
            <hr>
            <p>Te gustaria descubrir nuevos rincones de la españa vaciada?</p>
            <button>Leer mas...</button>
        </div>
        <div class="col2">
            <h1>Vivir</h1>
            <hr>
            <p>Descubre zonas increibles en espacios tranquilos para vivir tranquilo.</p>
            <button>Leer mas...</button>
        </div>
    </div>
</div>

<div class="col-inicio-02">
    <div class="col-quienesSomos">
        <div class="quienesSomos">
            <!--<img src="https://pixabay.com/get/g7cdb4c2d8d5d82da1f23eaffce72f4dfa08b993d8b6653a92ac22fdee595187d5f71c0eed36893920f167e8aa98fc585c12d13511990ddff991e57b46d1f57b3_1920.jpg" 
                alt="">-->
                <!--class="img-fluid rounded-circle z-depth-0 perfil"-->
            <h1>¿Quienes somos?</h1>
            <hr>
            <p>Somos un grupo de estudiantes universitarios...</p>
        </div>
    </div>
</div>
<div class="col-inicio-03">
    <div class="col-descripcion">
        <div class="descripcionProblema">
            <h1>Nuestro aprote para la españa vaciada.</h1>
            <hr>
            <p>espesificamos el problema y como lo solucionamos...</p>
        </div>
    </div>
</div>
<div class="col-inicio-04">
    <div class="col-desarrolladores">
        <h1>Desarrolladores</h1>
        <div class="desarrolladores">
            <div class="sebas">
                <h1>Sebas</h1>
                <hr>
                <p>aqui va nuestra descripcion para contactarnos...</p>
            </div>
            <div class="carlos">
                <h1>Carlos</h1>
                <hr>
                <p>aqui va nuestra descripcion para contactarnos...</p>
            </div>
            <div class="pedro">
                <h1>Pedro</h1>
                <hr>
                <p>aqui va nuestra descripcion para contactarnos...</p>
            </div>
            <div class="javi">
                <h1>Javi</h1>
                <hr>
                <p>aqui va nuestra descripcion para contactarnos...</p>
                <a href="https://www.instagram.com/jaawii22/">Instagram: Javier Perez</a>
                <h6>Correo electronico: <small>javieerperez@hotmail.com</small></h6>

            </div>
        </div>
    </div>
</div>