.panel{
    margin-top: 30px;
}

.btnTabla{
    height: 40px;
    margin-top: 30px;   
    margin-right: auto;
}

.lista{
    margin-left: auto;
    margin-right: 20px;
}

.grid{
    height: 100%;
    width: 100%;
    overflow: auto;
}
