.perfil{
    height: auto;
    width: 125px;
}

#form-img{
    text-align: center;
}

.formtitle {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.70);
}

.e-error,
.e-float-text {
    font-weight: 500;
}

.e-custom-label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

form {
    padding-top: 20px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    box-shadow: 0px 15px 15px -17px #5a70bb;
    border-radius: 5px;
    background-color: #add8e3;
}

.highcontrast form,
.highcontrast .header {
    color: #fff;
    background: #000000;
}

.header {
    color: rgba(0, 0, 0, 0.7);
}

#municipios{
    margin-top: 15px;
}

.btn-guardar-cambios{
    text-align: center;
}

table,
td,
th {
    padding: 5px;
}


.form-horizontal .form-group {
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    padding-bottom: 30px;
    padding-top: 25px;
}

.menu-panel{
    margin-right: 120px;
}

@media (max-width: 767px){
    form{
        margin-left: auto;
        margin-right: auto;
    }
    .menu-panel{
        margin-right: 0px;
    }
}