ejs-dropdownlist{
    margin-bottom: 20px ;

}

.card{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    box-shadow: 0px 15px 15px -17px #5a70bb;
    border-radius: 5px;
    background-color: #add8e3;
}

.title{
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.70);
    margin-bottom: 15px;
}

.check-group{
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    
}

ejs-checkbox{
    margin-right: 30px;
    color: green;
}

.e-label{
    font-size: 15px;
}

.boton-buscar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: green;
}

.dropdownlist{
    margin-left: auto;
    margin-right: auto;
}

.boton{
    height: 30px;
}

.error{
    margin-top: -20px;
    margin-bottom: 25px;
}