
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
    <!--<a class="navbar-brand" href="inicio" > ~V~ </a>-->
    <!--<img class="imagenlogo" src="../../img/logo.png" href="inicio">-->
    <img class= "navbar-brand" src = "../../../favicon.ico" (click)="redirectInicio()">
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li *ngIf="idUsuario!=null" class="nav-item">
          <a class="nav-link waves-light" href="vivir" mdbWavesEffect>Vivir</a>
        </li>
        <li *ngIf="idUsuario!=null" class="nav-item">
          <a class="nav-link waves-light" href="turismo" mdbWavesEffect>Turismo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="aboutus" mdbWavesEffect>Sobre nosotros</a>
        </li>
        <li *ngIf="idUsuario!=null" class="nav-item">
          <a class="nav-link waves-light" href="panelUsuario" mdbWavesEffect>Ajustes</a>
        </li>
  
        
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link waves-light" href="panelAdmin" mdbWavesEffect>Panel Administrador</a>
        </li>
  
      </ul>

      <ul *ngIf="idUsuario===null" class="navbar-nav mr-right">
        <li class="navbar-text">
          <a class="nav-link waves-light" href="login" mdbWavesEffect>LOGIN</a>
        </li>
        <li class="navbar-text">
          <a class="nav-link" href="registro">REGISTRO</a>
        </li>
      </ul>
      
      <ul *ngIf="idUsuario!=null" class="navbar-nav mr-right">
        <li class="navbar-text">
          <span class="nav-link bienvenida" style="color: rgb(255, 255, 255);">Bienvenido {{nombreUsuario}}</span>
        </li>
        <li class="navbar-text">
          <span class="nav-link cerrar-sesion" (click)="this.confirmDialog.show()">Cerrar Sesión</span>
        </li>
      </ul>
      <!-- Links -->

    </links>
    <!-- Collapsible content -->
    <ejs-dialog #confirmDialog [buttons]='confirmDlgButtons' [visible]='hidden' [header]='confirmHeader' [animationSettings]='animationSettings' [showCloseIcon]='confirmCloseIcon' [target]='target'
        [width]='confirmWidth'>
        <ng-template #content>
            <span>¿Desea cerrar sesión?</span>
        </ng-template>
    </ejs-dialog>
  </mdb-navbar>
  <!--/.Navbar-->
<!--
<body>
  <div>
    <button id="irLogin" class="samplebtn e-control e-btn e-primary" type="onclick" style="height:40px;width: 150px;" data-ripple="true" (click)="redirectLogin();">Iniciar Sesion</button>
    <button id="irRegistro" class="samplebtn e-control e-btn e-primary" type="onclick" style="height:40px;width: 150px;" data-ripple="true" (click)="redirectRegistro();">Registrarse</button>
  </div>
</body>
-->