mdb-navbar{
    height: 66px;
}

.perfil{
    height: auto;
    width: 50px;
}

#dropdown-menu-perfil{
    left: -70px;
}
.navbar-brand{
    font:bold;
    width: auto;
    height: auto;
    cursor: pointer;
}