<div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Vida</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
  
        <!-- Dropdown -->
        <div ngbDropdown>
          <a ngbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" style="color: rgb(255, 255, 255);" mdbWavesEffect>
            Basic dropdown<span class="caret"></span></a>
          <div ngbDropdownMenu>
            <a class="dropdown-item waves-light" href="#" mdbWavesEffect ngbDropdownItem>Action - 1</a>
            <a ngbDropdownItem>Another Action</a>
            <a ngbDropdownItem>Something else is here</a>
          </div>
        </div>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
        </li>
        <div class="nav-item avatar" ngbDropdown>
          <a ngbDropdownToggle mdbWavesEffect id="dropdownConfig" type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0 perfil"></a>
          <div id="dropdown-menu-perfil" ngbDropdownMenu>
            <a ngbDropdownItem class="dropdown-item waves-light" mdbWavesEffect href="panelUsuario">My account</a>
            <a ngbDropdownItem class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </div>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  </div>
<!--
<body>
  <div>
    <button id="irLogin" class="samplebtn e-control e-btn e-primary" type="onclick" style="height:40px;width: 150px;" data-ripple="true" (click)="redirectLogin();">Iniciar Sesion</button>
    <button id="irRegistro" class="samplebtn e-control e-btn e-primary" type="onclick" style="height:40px;width: 150px;" data-ripple="true" (click)="redirectRegistro();">Registrarse</button>
  </div>
</body>
-->