mdb-navbar{
    height: 66px;
}

.perfil{
    height: auto;
    width: 50px;
}

#dropdown-menu-perfil{
    left: -70px;
}
.navbar-brand{
    font:bold;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cerrar-sesion{
    cursor: pointer;
}

.bienvenida{
    font-weight: bold;
    color: rgba(255,255,255,1);
    margin-right: 10px;
}
.nav-link{
    font-size: 21px;
}