
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
    <!--<a class="navbar-brand" href="inicio" > ~V~ </a>-->
    <!--<img class="imagenlogo" src="../../img/logo.png" href="inicio">-->
    <img class= "navbar-brand" src = "../../../favicon.ico" (click)="redirectInicio()">
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" href="vivir" mdbWavesEffect>Vivir<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="turismo" mdbWavesEffect>Turismo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="aboutus" mdbWavesEffect>Sobre nosotros</a>
        </li>

        
  
        <!-- Dropdown -->
        <div ngbDropdown>
          <a ngbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" style="color: rgb(255, 255, 255);" mdbWavesEffect>
            Ajustes<span class="caret"></span></a>
          <div ngbDropdownMenu>
            <a class="dropdown-item waves-light" href="panelUsuario" mdbWavesEffect ngbDropdownItem>Configuración</a>
            <a ngbDropdownItem>Perfil</a>  
          </div>
        </div>       
  
      </ul>

      <ul class="navbar-nav mr-right">
        <li class="navbar-text">
          <a class="nav-link waves-light" href="login" mdbWavesEffect>LOGIN</a>
        </li>
        <li class="navbar-text">
          <a class="nav-link" href="registro">REGISTRO</a>
        </li>
      </ul>
      <!-- Links -->

    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
<!--
<body>
  <div>
    <button id="irLogin" class="samplebtn e-control e-btn e-primary" type="onclick" style="height:40px;width: 150px;" data-ripple="true" (click)="redirectLogin();">Iniciar Sesion</button>
    <button id="irRegistro" class="samplebtn e-control e-btn e-primary" type="onclick" style="height:40px;width: 150px;" data-ripple="true" (click)="redirectRegistro();">Registrarse</button>
  </div>
</body>
-->