<app-navbar></app-navbar>
<div class="principal">
    <div class="tittle">
        <h1>Información de los colegios</h1>
    </div>
    <div class="info col-lg-6 col-md-6 col-sm-10">
        <label class="col-3 text-right">Tipo de colegio:</label><label>{{ colegio.Denominacion_generica }}</label>
        <hr>
        <label class="col-3 text-right">Nombre del colegio:</label><label> {{ colegio.Denominacion_especifica }}</label>
        <hr>
        <label class="col-3 text-right">Número de teléfono:</label><label>{{ colegio.Telefono }}</label>
        <hr>
        <label class="col-3 text-right">Localidad:</label><label>{{ colegio.Localidad }}</label>
        <hr>
        <label class="col-3 text-right">Calle:</label><label>{{ colegio.Domicilio }}</label>
        <hr>
        <label class="col-3 text-right">C. Postal:</label><label>{{ colegio.C_Postal }}</label>
        
    </div>
    <div class="mapa col-lg-10 col-md-10 col-sm-11">
        <app-map></app-map>
    </div>

</div>

