<app-navbar></app-navbar>
<div class="principal">
    <div class="tittle">
        <h1>Información de los colegios</h1>
    </div>
    <div class="info col-lg-6 col-md-6 col-sm-10">
        <label>Nombre del colegio:</label>
        <hr>
        <label>Número de teléfono:</label>
        <hr>
        <label>Localidad:</label>
        <hr>
        <label>Calle:</label>
        <hr>
        <label>C. Postal:</label>
        <hr>
        <label>Tipo de colegio:</label>
    </div>
    <div class="mapa col-lg-10 col-md-10 col-sm-11">
        <app-map></app-map>
    </div>

</div>

