<div class="raw-inicio-01">
    <div class="col-inicioBotones">
        <div class="col">
            <h1>INICIAR SESION</h1>
            <hr>
            <p>SI YA TIENES UNA CUENTA CREADA, ACCEDE DESDE AQUI Y EXPLORA "VIDA"</p>
            <button (click)="redirectLogin();">INICIAR SESION</button>
        </div>
        <div class="col2">
            <h1>CREAR UNA CUENTA</h1>
            <hr>
            <p>SI NO TIENES UNA CUENTA, DESDE AQUI PUEDES CREARLA Y EMPEZAR A BUSCAR NUEVAS AVENTURAS</p>
            <button (click)="redirectRegistro();">REGISTRO</button>
        </div>
    </div>
</div>

<div class="col-inicio-02">
    <div class="col-quienesSomos">
        <div class="quienesSomos">
            <!--<img src="https://pixabay.com/get/g7cdb4c2d8d5d82da1f23eaffce72f4dfa08b993d8b6653a92ac22fdee595187d5f71c0eed36893920f167e8aa98fc585c12d13511990ddff991e57b46d1f57b3_1920.jpg" 
                alt="">-->
                <!--class="img-fluid rounded-circle z-depth-0 perfil"-->
            <h1>VIDA - Visualizacion e Interpretacion de Datos Analizados</h1>
            <hr>
            <p>Universidad Europea de Madrid - Ingeniería Informática</p>
        </div>
    </div>
</div>