<div class="raw-inicio-01">
    <div class="col-inicioBotones">
        <div class="col">
            <h1>INICIAR SESION</h1>
            <hr>
            <p>SI YA TIENES UNA CUENTA CREADA, ACCEDE DESDE AQUI Y EXPLORA "VIDA"</p>
            <button (click)="redirectLogin();">INICIAR SESION</button>
            <p> -- </p>

            <h1>CREAR UNA CUENTA</h1>
            <hr>
            <p>SI NO TIENES UNA CUENTA, DESDE AQUI PUEDES CREARLA Y EMPEZAR A BUSCAR NUEVAS AVENTURAS</p>
            <button (click)="redirectRegistro();">REGISTRO</button>
            <p> -- </p>

        </div>
    </div>
</div>

<div class="col-inicio-02">
    <div class="col-quienesSomos">
        <div class="quienesSomos">
            <h1>VIDA - Visualizacion e Interpretacion de Datos Analizados</h1>
            <hr>
            <p>Universidad Europea de Madrid - Ingeniería Informática</p>
        </div>
    </div>
</div>